apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: redes-final
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 701544683371.dkr.ecr.us-east-1.amazonaws.com/mi-backend-redesii:v2
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: '3000'
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DATABASE_URL
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: redes-final
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 3000
